---
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Placeholder" description="placeholder page">
  <main>
    <article>
      <header><h1>Placeholder</h1></header>
      <p><a href="/blog/client-side-server-rendering/#typicode">Go Back</a></p>
    </article>
  </main>
</Layout>
