<li>
  <b>Headless at Shopify for Developers Certification</b>
  <ul style="margin-bottom: 0">
    <li>Issued By: Shopify</li>
    <li>
      This Certification signifies that the credential holder understands
      Shopify’s headless framework, tooling, and hosting options in order to
      prepare, implement, and optimize a custom storefront.
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.credly.com/badges/87d9d013-1ca9-4bbf-89f5-9b0e68d1d05e"
        >https://www.credly.com/badges/87d9d013-1ca9-4bbf-89f5-9b0e68d1d05e/</a
      >
    </li>
  </ul>
</li>
<li>
  <b>Graph Developer—Associate</b>
  <ul style="margin-bottom: 0">
    <li>Issued By: Apollo GraphQL</li>
    <li>
      Developers who obtain this certification possess a solid foundational
      knowledge of GraphQL and the Apollo tool suite to design a schema, run an
      Apollo Server, and perform queries with Apollo Client on the frontend.
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.apollographql.com/tutorials/certifications/73f2058a-3ea3-4ffa-b4d1-7e4da8135899"
        >https://www.apollographql.com/tutorials/certifications/73f2058a-3ea3-4ffa-b4d1-7e4da8135899</a
      >
    </li>
  </ul>
</li>
