---
import { positions } from "./utils/positions";
import isNil from "lodash/isNil.js";
import isEmpty from "lodash/isEmpty.js";
import { dateFormatter, formatTech } from "./utils/formatters";
import { getAllUsed, getUsedByPosition } from "./utils/used";
type Properties = {
  startDate?: string;
  endDate?: string;
  title: string;
  position?: string;
};

const { startDate, endDate, title, position } = Astro.props as Properties;

let methodologiesUsed: string[] = [];
let techUsed: string[] = [];

if (position === "_all") {
  const used = getAllUsed();
  methodologiesUsed = used[0];
  techUsed = used[1];
} else if (!isNil(position)) {
  const used = getUsedByPosition(position as keyof typeof positions);
  methodologiesUsed = used[0];
  techUsed = used[1];
}
---

<article
  style="box-shadow: none; border: 1px solid var(--pico-text-selection-color);"
>
  <header style="display: flex; justify-content: space-between">
    <b>{title}</b>
    {
      !isNil(startDate) && isNil(endDate) && (
        <span>{dateFormatter.format(new Date(startDate))} - (Current)</span>
      )
    }
    {
      !isNil(startDate) && !isNil(endDate) && (
        <span>
          {dateFormatter.format(new Date(startDate))} -{" "}
          {dateFormatter.format(new Date(endDate))}
        </span>
      )
    }
  </header>
  <ul style="margin-bottom: 0">
    <slot />
    {
      !isEmpty(techUsed) && (
        <li>
          <b>Tech Used: </b>
          {formatTech(techUsed)}
        </li>
      )
    }
    {
      !isEmpty(methodologiesUsed) && (
        <li>
          <b>Methodologies Used: </b>
          {formatTech(methodologiesUsed)}
        </li>
      )
    }
  </ul>
</article>
