<li>
  Upgrade a project at LegrandAV from vanilla React to Sitecore, overcoming a
  2-month standstill due to hosting issues. Led the team in redesigning the user
  dashboard encouraged the use of accessible libraries such as NextUI,
  eliminating the need for outsourcing frontend work.
</li>
<li>
  Introduced automated testing to legacy codebases at St. Louis County by
  setting up unit tests for .NET backends and conducting E2E and accessibility
  testing for React frontends. Overcame challenges associated with legacy
  codebases and improved the overall stability of the applications.
</li>
<li>
  Worked with Proagrica on a highly dynamic farming dashboard for an
  international audience. Utilized Redux to manage complex state interactions
  and employed time travel debugging techniques to identify existing state,
  debug issues, and develop new features.
</li>
<li>
  Helped rebuild the Emissions Collection and Monitoring System (ECMPS) for the
  EPA, collaborating with a small team to develop the backend using a new tech
  stack. Emphasized test coverage, resulting in high-quality production and
  increased collaboration with QA for bug detection.
</li>
<li>
  Independently developed a team collaboration app at Avatara, implementing
  features such as P2P video conferences, chat, phone calls, calendar, and file
  sharing. Real-time notifications were enabled using websockets, and CSS
  modules were used for styling.
</li>
<li>
  Collaborated with Proagrica on an application for delivering quotes and
  booking shipments through multiple logistics carriers.
</li>
<li>
  Redesigned the customer dashboard for CenturyLink, ensuring compatibility with
  Internet Explorer 11 while utilizing vanilla JavaScript and CSS stylesheets.
</li>
<li>
  Provided consultation services to OneSpiritOneWorld.org, a non-profit
  organization focused on ending dog homelessness and abuse. Improved SEO and
  page performance, while also encouraging a stronger social media presence.
</li>
