<li>
    <b>eslint-config-ethang</b>
    <ul style="margin-bottom: 0">
        <li>
            Strict EsLint config developed overtime to help address common issues I've seen across projects. Aside from
            normal eslint items, this config addresses:
        </li>
        <li>Strongly typed check best practices, smarter complexity linting,
            node version features, unsupported browser features, disallows libraries that use barrel files,
            disallows outdated NPM packages.</li>
        <li>
            <a href="https://github.com/eglove/eslint-config-ethang">
                github.com/eglove/eslint-config-ethang
            </a>
        </li>
    </ul>
</li>
<li>
    <b>Toolbelt</b>
    <ul style="margin-bottom: 0">
        <li>
            TypeScript utilities with a strict, consistent error handling interface.
            Forces error checking, inspired by GoLang and Zod.
        </li>

        <li>
            Includes tool for building a centralized API and fetch abstractions to use
            the standard Cache API.
        </li>

        <li>
            <a href="https://github.com/eglove/toolbelt">
                github.com/eglove/toolbelt
            </a>
        </li>
    </ul>
</li>
<li>
    <b>React Hooks</b>
    <ul style="margin-bottom: 0">
        <li>NPM library and custom hooks for use with React.</li>

        <li>
            useAnimationInterval is a setInterval alternative that takes into account
            lag in timers caused by browser frame rate.
        </li>

        <li>
            useEventListener makes use of AbortController to abstract out the need for
            writing useEffects for events in React.
        </li>

        <li>
            useForm idiomatic patterns for React + AJAX form submissions. Includes the
            ability to validate forms with Zod schemas.
        </li>
        <li>
            Also includes: useCopyClipboard, useDimensions, useFullscreen,
            useIsOnscreen, useLocalStorage, useMousePosition, useSet, useToggle,
            useWindowSize
        </li>
        <li>
            <a href="https://github.com/eglove/hooks"> github.com/eglove/hooks </a>
        </li>
    </ul>
</li>
<li>
    <b>Project Builder</b>
    <ul style="margin-bottom: 0">
        <li>
            Interactive script to help lint, test, build, and publish all of my
            packages and projects.
        </li>

        <li>
            <a href="https://github.com/eglove/project-builder">
                github.com/eglove/project-builder
            </a>
        </li>
    </ul>
</li>
<li>
    <b>Sterrett Creek Village Trustee</b>
    <ul style="margin-bottom: 0">
        <li>
            Website used by the Sterett Creek Village Trustee board to post news
            updates, events, and meeting notes. Sanity is used as a CMS while the
            frontend is built with QwikCity and React.
        </li>

        <li>
            <a href="https://github.com/eglove/sterett">
                github.com/eglove/sterett
            </a>
        </li>
        <li>
            <a href="https://sterettcreekvillagetrustee.com/">
                sterettcreekvillagetrustee.com
            </a>
        </li>
    </ul>
</li>
