---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="EthanG | Rates"
  description="Rates for freelance web development with EthanG"
>
  <main>
    <article>
      <header>
        <h1>Thinking of hiring Ethan Glover?</h1>
      </header>
      <p>Here's what you get.</p>
      <ul>
        <li>Performance as a default.</li>
      </ul>
    </article>
  </main>
</Layout>
