---
import Layout from "../layouts/Layout.astro";
---

<Layout title="EthanG" description="Messin' around with the web sometimes.">
  <main>
    <div id="google"></div>
    <article>
      <a href="/courses/"><h1>Learn Web Dev</h1></a>

      <a href="/blog/client-side-server-rendering/">
        <h1>Client Side Server Rendering</h1>
      </a>

      <a href="/blog/document-collection-helpers/">
        <h1>A Few Document Collection Helpers</h1>
      </a>

      <a href="/blog/defense-of-xmlhttprequest-blocking-render/"
        ><h1>In Defense of XMLHttpRequest and Blocking Render</h1></a
      >

      <a href="/blog/frontend-masters-review/"
        ><h1>A Frontend Masters Review</h1></a
      >

      <a href="/blog/service-worker-caching/"><h1>Service Worker Caching</h1></a
      >

      <a href="/blog/fibonacci/"><h1>Fibonacci Web Worker</h1></a>
    </article>
  </main>
</Layout>
