---
import ExperienceCard from "../ExperienceCard.astro";
import { positions } from "../utils/positions";

const position = positions.epa;
---

<ExperienceCard
  title={position.title}
  startDate={position.startDate}
  endDate={position.endDate}
  position="epa"
>
  <li>
    Helped rebuild Emissions Collection and Monitoring System (ECMPS) for
    reporting emissions data with new tech stack.{" "}
    <a
      target="_blank"
      href="https://www.epa.gov/airmarkets/ecmps-re-engineering-effort"
    >
      https://www.epa.gov/airmarkets/ecmps-re-engineering-effort
    </a>
  </li>

  <li>
    Created new REST API to handle data in a multi-schema database making
    careful use of JavaScript promise patterns to take advantage of asynchronous
    operations. I was one of three developers building the backend, we made an
    effort to always be increasing test coverage, the result was QA asking for
    us to slow down because our production was too fast and not revealing
    issues. This gave us time to produce more reproducible examples and help QA
    to ensure the highest quality possible.
  </li>

  <li>
    Moved to help with React frontend as our work on the contract ended early. I
    helped work with tables to display EPA data and allow users to build custom
    reports that were downloaded as .csv files.
  </li>
</ExperienceCard>
