---
import ExperienceCard from "../ExperienceCard.astro";
import { positions } from "../utils/positions";

const position = positions.legrandAv;
---

<ExperienceCard
  title={position.title}
  startDate={position.startDate}
  endDate={position.endDate}
  position="legrandAv"
>
  <li>
    Lead frontend development to upgrade an eCommerce project to NextJS as well
    as redesigned to a more modern look with NextUI.
  </li>

  <li>
    Kickstarted project that had been stuck on deployment for 2 months after an
    upgrade from React to NextJS within the Sitecore ecosystem.
  </li>

  <li>
    Implemented new designs after deployment and helped the team move away from
    outsourcing to &ldquo;markup services&rdquo; for frontend development and
    instead making use of modern accessible UI libraries like NextUI.
  </li>

  <li>
    Taught team unfamiliar with server-side rendering how to take full advantage
    of modern frameworks and avoid anti-patterns with React useEffect, overusing
    Redux, etc.
  </li>
</ExperienceCard>
